.categoryLinks {
  margin-top: 7em;
  width: clamp(200px, 100%, 1024px);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5em;
}

@media (min-width: 768px) {
  .categoryLinks {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
