.hero {
  position: relative;
  margin-top: -70px;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.content {
  color: var(--white);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  width: 100%;
  height: calc(100% - 65px);
  width: clamp(200px, 100%, 1024px);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.content > div h1 {
  font-size: 36px;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 1.1;
}

.content > div .banner {
  color: var(--dark-grey);
  letter-spacing: 10px;
  font-size: 14px;
}

.content > div p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--dark-grey);
  max-width: 350px;
}

.content > div a {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--orange);
  padding: 1em 2em;
  margin-top: 2em;
}

.content > div a:hover {
  background-color: var(--light-orange);
}

@media (min-width: 768px) {
  .content > div h1 {
    font-size: 56px;
  }
}

@media (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2em;
  }

  .content > div {
    align-items: flex-start;
  }

  .content > div h1 {
    text-align: left;
    font-size: 56px;
  }

  .content > div p {
    text-align: left;
  }
}

@media (min-width: 1080px) {
  .content {
    padding-left: 0;
  }
}
