:root {
  --max-width: 1100px;
  --black: #000000;
  --white: #ffffff;
  --orange: #d87d4a;
  --light-orange: #fbaf85;
  --light-grey: #090808;
  --grey: #f1f1f1;
  --dark-grey: #e8e8e8;
  --very-dark-grey: #838383;
  --error-red: rgb(223, 17, 17);
  --modal-bg: rgba(0, 0, 0, 0.617);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: white;
  font-family: 'Manrope', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: var(--very-dark-grey);
  border: 1px solid var(--very-dark-grey);
  border-radius: 8px;
  padding: 1em;
  font-size: 16px;
  letter-spacing: -0.25px;
}

label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.21px;
}
