.featured {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  max-width: 1024px;
  /* background-color: red; */
  padding-top: 2em;
  padding-bottom: 4em;
}
