.featured {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1024px;
}

@media (min-width: 768px) {
  .featured {
    padding: 0 2em;
  }
}

@media (min-width: 1056px) {
  .featured {
    padding: 0;
  }
}
