.categoryLink {
  background-color: var(--grey);
  display: grid;
  grid-template-rows: 100px auto;
  position: relative;
  border-radius: 0.5em;
}

.categoryLink img {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 auto;
  bottom: 65px;
  z-index: 0;
}

.categoryLink .details {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryLink .details h2 {
  font-size: 18px;
  font-weight: 5700;
}

.categoryLink .details a span {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--very-dark-grey);
}

.categoryLink .details a:hover span {
  color: var(--orange);
}
