.wrapper {
  width: clamp(200px, 100%, 1024px);
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 2em;
  }
}

@media (min-width: 1080px) {
  .wrapper {
    padding: 0;
  }
}
