.wrapper {
  background-color: var(--black);
  min-height: 60px;
  position: sticky;
  width: 100%;
  align-self: start;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.desktopNav {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--very-dark-grey);
  width: clamp(200px, 100%, 1024px);
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.desktopNav a {
  color: var(--white);
  text-align: center;
}

.desktopNav > a:first-of-type {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  flex: 1;
  margin-left: 0 auto;
  display: flex;
  align-items: center;
}

.desktopNav .categories {
  display: none;
  align-items: center;
  gap: 2em;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}

.cartBtn {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.cartBtn svg path {
  fill: var(--white);
}

@media (min-width: 768px) {
  .desktopNav {
    padding: 0 2em;
  }

  .desktopNav > a:first-of-type {
    margin-left: 2em;
    text-align: left;
  }
}

@media (min-width: 1056px) {
  .desktopNav {
    padding: 0;
  }

  .desktopNav .categories {
    display: flex;
  }

  .desktopNav .hamburgerBtn {
    display: none;
  }

  .desktopNav > a:first-of-type {
    flex: 0 1 auto;
    margin-left: 0;
  }
}
