.about {
  width: clamp(200px, 100%, 1024px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about .content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.about .content h2 {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;
}

.about .content h2 span {
  color: var(--orange);
}

.about .content p {
  color: var(--very-dark-grey);
  line-height: 25px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .about .content {
    margin: 0 auto;
  }
  .about .content h2 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about .content,
  .about .pictureWrapper {
    flex: 1 0 50%;
  }

  .about .content {
    justify-content: center;
    text-align: left;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .about img {
    width: 100%;
  }

  .about picture {
    grid-column: 2 / 2;
  }

  .about .content h2 {
    max-width: 400px;
    margin: 0;
  }

  .about .content p {
    max-width: 425px;
  }
}
